PORT=4006
NODE_ENV=development
ORDER_DATABASE_URL=postgresql://postgres:postgres@localhost:5432/gourmet-order
PAYMENT_SERVICE_URL=http://localhost:4007
DELIVERY_SERVICE_URL=http://localhost:4008
CART_SERVICE_URL=http://localhost:4005
