PORT=4000
NODE_ENV=development

AUTH_SERVICE_URL=http://localhost:4001
USER_SERVICE_URL=http://localhost:4002
RESTAURANT_SERVICE_URL=http://localhost:4003
MENU_SERVICE_URL=http://localhost:4004
CART_SERVICE_URL=http://localhost:4005
ORDER_SERVICE_URL=http://localhost:4006
PAYMENT_SERVICE_URL=http://localhost:4007
DELIVERY_SERVICE_URL=http://localhost:4008

JWT_SECRET=dev-jwt-secret-change-in-production
